{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "google",
    "plugin:prettier/recommended",
    "plugin:vue/recommended",
    "eslint:recommended",
    "prettier",
    "prettier/vue"
  ],
  "plugins": ["prettier"],
  "rules": {
    "indent": ["warn", 2],
    "prettier/prettier": "warn",
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-debugger": "warn",
    "no-unused-vars": [
      "warn",
      {
        "ignoreRestSiblings": true
      }
    ],
    "no-plusplus": "off",
    "no-undef": "off",
    "no-var": "error",
    "semi": ["error", "always"],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
