// ----------------------------------------------------------------------
// Color
// ----------------------------------------------------------------------
$primary-color: rgb(0, 195, 255);
$secondary-color: rgb(94, 185, 101);
$alert-color: rgb(236, 83, 83);
$ghost-color: rgb(255, 255, 255);

// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;

// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regular-size: 48;

// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$regularFont: Helvetica, Arial, sans-serif;

// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
$grid-columns: 12;
