@import "../vendors/index.scss";

// ----------------------------------------------------------------------
	// Primary color
// ----------------------------------------------------------------------
$primary-color: red;

// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;


// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regular-size: 48;


// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$regularFont: Helvetica, Arial, sans-serif;

// ----------------------------------------------------------------------
  // Grid
// ----------------------------------------------------------------------
$grid-columns: 12;